In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
sns.set();

In [2]:
df1=pd.read_csv('IT Salary Survey EU  2020.csv')
df1.head()

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN

In [3]:
df1.shape

(1253, 23)

In [4]:
df1.columns

Index(['Timestamp', 'Age', 'Gender', 'City', 'Position ',
       'Total years of experience', 'Years of experience in Germany',
       'Seniority level', 'Your main technology / programming language',
       'Other technologies/programming languages you use often',
       'Yearly brutto salary (without bonus and stocks) in EUR',
       'Yearly bonus + stocks in EUR',
       'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
       'Annual bonus+stocks one year ago. Only answer if staying in same country',
       'Number of vacation days', 'Employment status', 'Сontract duration',
       'Main language at work', 'Company size', 'Company type',
       'Have you lost your job due to the coronavirus outbreak?',
       'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
       'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'],
      dtype='object')

In [ ]:
df1.isnull().sum()

:

In [ ]:
missing=df1.isnull().sum()*100/len(df1)
missing_values_df=pd.DataFrame({'%missing':missing,
                                'columns': df1.columns})
missing_values_df

:

In [ ]:
df1.describe()

:

In [ ]:
df1.Gender.value_counts().plot(kind='bar')
plt.title('Respondents Gender');

:

In [ ]:
df1.Age.mean()

:

In [ ]:
df1.groupby('Gender').describe()

:

In [ ]:
df1.groupby('Employment status')['Gender'].describe()

:

In [ ]:
df1.Timestamp.describe()

:

In [ ]:
df1.pivot_table(['Age'], index='Total years of experience', columns='Gender')

:

In [ ]:
df1.pivot_table(['Age'], index='Total years of experience',
                aggfunc='mean').plot()
plt.ylabel('AGE');

:

In [ ]:
#Checking unique values in the dataset
df1.apply(lambda x: len(x.unique()))

:

In [ ]:
plt.figure(figsize=(10,5))
df1['Employment status'].value_counts().plot(kind='bar')
plt.ylabel('Counts')
plt.xlabel('Employment Status');

:

##### looks like most people are full-time employees

In [ ]:
print(df1['Your main technology / programming language'].value_counts()>20)
plt.figure(figsize=(10,8))
df1['Your main technology / programming language'].value_counts().plot(kind='hist')
plt.title('Number of developers as per their main technology')
plt.ylabel('Counts')
plt.xlabel('Programming Language');

:

In [ ]:
df2=pd.read_csv('T Salary Survey EU 2019.csv')
df2.head()

:

In [ ]:
df2.tail()

:

In [ ]:
df2.shape, df2.size

:

In [ ]:
df2.dtypes

:

In [ ]:
df2.describe()

:

In [ ]:
df2.columns

:

In [ ]:
df2.apply(lambda x: len(x.unique()))

:

In [ ]:
df2.info

:

In [ ]:
df2.isnull().sum()

:

In [ ]:
missiing=df2.isnull().sum()*100/len(df2)
df2_missing_df=pd.DataFrame({'% missing': missiing,
                'columns': df2.columns})
df2_missing_df

:

In [ ]:
df2_new=df2.dropna(thresh=0.6*len(df2), axis=1)
df2_new.head()

:

 - Dropped columns with more that 60% of missing data

In [ ]:
df2_new.isnull().sum()

:

In [ ]:
df2_new.shape

:

In [ ]:
df2_new.columns

:

In [ ]:
df2_new.Age.shape, df2_new.Gender.shape

:

In [ ]:
df2_new['Age']=df2.groupby('Gender').transform(lambda x: x.fillna(x.mean()))

:

In [ ]:
df2_new['Seniority level'].value_counts()

:

In [ ]:
plt.figure(figsize=(10,6))
df2_new['Seniority level'].value_counts().plot(kind='bar')
plt.xlabel('Seniority level')
plt.ylabel('Counts');

:

In [ ]:
df2_new.groupby('Gender')['Seniority level'].describe()

:

In [ ]:
df2_new.pivot_table(['Age'], index='Seniority level', columns='Gender')

:

In [ ]:
for col in df2_new:
    plt.hist(df2_new[col], density=True, alpha=0.6);

:

In [ ]:
with sns.axes_style('white'):
    sns.jointplot(x=df2_new.Age, y=df2_new['Years of experience'], data=df2_new, kind='hex')

:

A jointplot between Age and Years of experience

In [ ]:
with sns.axes_style('white'):
    m=sns.catplot(x='Main language at work', data=df2_new, aspect=2, 
                 kind='count',color='steelblue')
    m.set_xticklabels(step=2)

:

In [ ]:
plt.figure(figsize=(10,8))
df2_new['Position (without seniority)'].value_counts().plot(kind='bar')
plt.xlabel('Position');

:

- From the above figure, most employees are backend developers followed  by data scientists and so on

In [ ]:
df2['Age_decade']=df2.loc[:,('Age')].map(lambda Age:10*(Age//10))

:

In [ ]:
sns.violinplot(x='Age_decade', y='Years of experience', hue='Gender', data=df2,
               split=True, inner='quartile',
               palette=['lightblue', 'lightpink']);

:

From the above violin plots, more key insights are drawn from the dataset. In all age brackets(Age_decade) Men tend to have more years of experience than women, which is quite interesting. Also it's very surprising to see there are no women who are beyond age 50.

In [ ]:
(df2.Age>50).sum()

:

: